**Importing Index**

In [37]:
import yfinance as yf

# Get the S&P 500 index 
sp500 = yf.Ticker('^GSPC')
sp500_index = sp500.history(period='10y')

# Get the SET index 
set_index = yf.Ticker('^SET.BK')
set_index = set_index.history(period='10y')

In [30]:
sp500_index = sp500_index[['Close']]

In [33]:
sp500_index

                                 Close
Date
2014-12-15 00:00:00-05:00  1989.630005
2014-12-16 00:00:00-05:00  1972.739990
2014-12-17 00:00:00-05:00  2012.890015
2014-12-18 00:00:00-05:00  2061.229980
2014-12-19 00:00:00-05:00  2070.649902
...                                ...
2024-12-09 00:00:00-05:00  6052.850098
2024-12-10 00:00:00-05:00  6034.910156
2024-12-11 00:00:00-05:00  6084.189941
2024-12-12 00:00:00-05:00  6051.250000
2024-12-13 00:00:00-05:00  6051.089844

[2517 rows x 1 columns]

In [41]:
set_index= set_index[['Close']]

In [43]:
set_index

                                 Close
Date
2014-12-15 00:00:00+07:00  1478.489990
2014-12-16 00:00:00+07:00  1461.739990
2014-12-17 00:00:00+07:00  1480.199951
2014-12-18 00:00:00+07:00  1516.790039
2014-12-19 00:00:00+07:00  1514.349976
...                                ...
2024-12-06 00:00:00+07:00  1451.959961
2024-12-09 00:00:00+07:00  1447.530029
2024-12-11 00:00:00+07:00  1443.050049
2024-12-12 00:00:00+07:00  1439.890015
2024-12-13 00:00:00+07:00  1431.670044

[2426 rows x 1 columns]

In [45]:
# Save the data to a CSV file
sp500_index.to_csv("../Data/sp500_index.csv")
set_index.to_csv("../Data/set_index.csv")