**Importing Index**

In [2]:
import yfinance as yf

# Get the S&P 500 index 
sp500 = yf.Ticker('^GSPC')
sp500_index = sp500.history(period='10y')

# Get the SET index 
set_index = yf.Ticker('^SET.BK')
set_index = set_index.history(period='10y')

In [3]:
sp500_index = sp500_index[['Close']]

In [4]:
sp500_index

                                 Close
Date
2014-12-15 00:00:00-05:00  1989.630005
2014-12-16 00:00:00-05:00  1972.739990
2014-12-17 00:00:00-05:00  2012.890015
2014-12-18 00:00:00-05:00  2061.229980
2014-12-19 00:00:00-05:00  2070.649902
...                                ...
2024-12-09 00:00:00-05:00  6052.850098
2024-12-10 00:00:00-05:00  6034.910156
2024-12-11 00:00:00-05:00  6084.189941
2024-12-12 00:00:00-05:00  6051.250000
2024-12-13 00:00:00-05:00  6051.089844

[2517 rows x 1 columns]

In [5]:
set_index= set_index[['Close']]

In [6]:
set_index

                                 Close
Date
2014-12-16 00:00:00+07:00  1461.739990
2014-12-17 00:00:00+07:00  1480.199951
2014-12-18 00:00:00+07:00  1516.790039
2014-12-19 00:00:00+07:00  1514.349976
2014-12-22 00:00:00+07:00  1536.829956
...                                ...
2024-12-09 00:00:00+07:00  1447.530029
2024-12-11 00:00:00+07:00  1443.050049
2024-12-12 00:00:00+07:00  1439.890015
2024-12-13 00:00:00+07:00  1431.670044
2024-12-16 00:00:00+07:00  1417.969971

[2426 rows x 1 columns]

In [7]:
# Save the data to a CSV file
sp500_index.to_csv("../Data/sp500_index.csv")
set_index.to_csv("../Data/set_index.csv")

**Other variables**

In [9]:
# !pip install fredapi

**GDP & Interest rate in the US**

In [19]:
from fredapi import Fred
import pandas as pd
import datetime

# Initialize FRED API
api_key = '7f8087edb563818ec33844104e7a60d7'
fred = Fred(api_key=api_key)

# Define the series codes 
interest_rate_code = 'FEDFUNDS'  
gdp_code = 'GDP'  
unemploy_code = 'UNRATE'
inflation_code = 'CPIAUCSL'

# Define the date range for the last 12 years
end_date = datetime.datetime.today()
start_date = end_date - datetime.timedelta(days=12*365)

# get the data from FRED
interest_rate = fred.get_series(interest_rate_code, start_date, end_date)
gdp = fred.get_series(gdp_code, start_date, end_date)
unemploy = fred.get_series(unemploy_code, start_date, end_date)
inflation = fred.get_series(inflation_code, start_date, end_date)

# Convert the series into DataFrames with 'Date' column
interest_rate_df = pd.DataFrame({'Date': interest_rate.index, 'Interest_Rate': interest_rate.values})
gdp_df = pd.DataFrame({'Date': gdp.index, 'GDP': gdp.values})
unemploy_df = pd.DataFrame({'Date': unemploy.index, 'Unemployment': unemploy.values})
inflation_df = pd.DataFrame({'Date': inflation.index, 'Inflation': inflation.values})

# Merge the DataFrames 
macro_data = pd.merge(interest_rate_df, gdp_df, on='Date', how='outer')
macro_data = pd.merge(merged_data, unemploy_df, on='Date', how='outer')
macro_data = pd.merge(merged_data, inflation_df, on='Date', how='outer')
macro_data.set_index('Date', inplace=True)

# Fill missing values with the previous available value  by using  (forward fill)
macro_data = macro_data.fillna(method='ffill')

/var/folders/7x/s9nb0bqj3xj0g6l2sm78vqcm0000gn/T/ipykernel_79641/3453807291.py:38: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  macro_data = macro_data.fillna(method='ffill')

In [25]:
macro_data = macro_data.drop(columns = {'Inflation_y'})

In [27]:
# Save the data to a CSV file
macro_data.to_csv("../Data/macro_data.csv")